html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.calendar_up{

  display: flex;
  align-items: center;
 
  
}

.calendar_title{
  font-family: "roboto", sans-serif;
  font-size: 15px;
  color: #000a32;
  margin-left: 20px;
}

.calendar_balance{
  margin-left: 300px;
  font-size: 20px;
}

.calendar_table {
  margin: 20px;
  font-family: 'roboto', sans-serif;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: #000a32;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.styled-table tbody tr.selected {
  background-color: #76c7c0;
  color: white;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #00c85a;
}



